<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656277582204-3t7eqpemlevlfiad9ss5bo6upka43sbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656277582204-3t7eqpemlevlfiad9ss5bo6upka43sbi</string>
	<key>API_KEY</key>
	<string>AIzaSyB3l5Ujewy8pAjmlbFi7r5c18lxkvo4LHw</string>
	<key>GCM_SENDER_ID</key>
	<string>656277582204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.aiworks</string>
	<key>PROJECT_ID</key>
	<string>aiworks-b6179</string>
	<key>STORAGE_BUCKET</key>
	<string>aiworks-b6179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656277582204:ios:1ece55c563b2507dab74f9</string>
	<key>DATABASE_URL</key>
	<string>https://aiworks-b6179.firebaseio.com</string>
</dict>
</plist>